/* index.css */
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: UberMedium;
  src: url("/src/assets/fonts/UberMoveMedium.otf");
}

@font-face {
  font-family: UberBold;
  src: url("/src/assets/fonts/UberMoveBold.otf");
}

* {
  font-family: UberMedium;
}

input::placeholder {
  color: grey;
  opacity: 1;
  font-size: 14px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.css-hlgwow {
  padding: 0 !important;
}

.css-1cpt4ab-placeholder {
  margin: 0 !important;
}
